body{

}

#div1 {
border: solid ; color: palevioletred;
position: relative;
padding-left: 75pc;
}

#div2 {
    border: solid; color: gray;
    clear: both;
    position: relative;
    padding-left: 75pc;

}

#div3 {
   border: solid; color: green;
width: 300px;
position: relative;


}

#div4 {
    border: solid; color: blue;
    width: 800px;
    height: 8pc;
    float: right;
    position: relative;
    
}  

#div5 {
    border: solid; color: lightblue;
    width: 300px;
    position: relative;
    clear: both;
    
}  

#div6 {
    border: solid; color: purple;
    width: 800px;
    height: 8pc;
    float: right;
    position: relative;
}

#div7 {
    border: solid; color: red;
    width: 300px;
    clear: both;
    position: relative;

}  




